$violet-crayola: #963484ff;
$true-blue: #3066beff;
$french-sky-blue: #60afffff;
$capri: #28c2ffff;
$electric-blue: #2af5ffff;

$montserrat: 'Montserrat', sans-serif;
$playfair-display: 'Playfair Display', serif;

html {
	height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	min-width: 320px;
	background-color: #d4c294;
}
.app {
	width: 100%;
}
p {
	width: 70%;
	font-family: $montserrat;
	font-size: 1em;
	margin-top: 10px;
	color: black;
	padding: 10px;
}
.header {
	background-image: linear-gradient(
		to left,
		rgba(48, 32, 26, 1),
		rgb(125, 112, 79)
	);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;

	h1 {
		color: #ab864b;
		text-align: right;
		padding-right: 25px;
		margin-left: 15px;
		font-family: $playfair-display;
		font-weight: bold;
		font-size: 1.6em;
	}

	a {
		text-decoration: none;
	}
}

form {
	width: 75%;
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	margin-left: 15px;
	padding: 10px;

	input {
		padding: 10px;
		border: none;
		border-bottom: 2px solid gray;
		outline: none;
		border-radius: 5px;
	}

	input[type='submit'] {
		cursor: pointer;
	}

	.button {
		// background: $violet-crayola;
		background: rgb(48, 32, 26);
		padding: 5px;
		font-size: 0.75em;
		font-weight: bold;
		color: white;
		border-radius: 5px;
	}
}
ol {
	list-style-type: none;
	li {
		font-family: $playfair-display;
		font-size: 1.5em;
		line-height: 175%;
		span {
			font-size: 0.7em;
			font-style: italic;
			color: rgb(51, 50, 50);
		}
	}
}

.definition {
	margin: 35px 15px 15px;
	font-family: $playfair-display;
	color: rgb(45, 50, 66);

	h1 {
		color: white;
		font-size: 1.5em;
		text-align: left;
	}
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
	h1.title {
		text-align: center;
		font-size: 2.75em;
	}
	p {
		margin-left: 15px;
		font-size: 1.9em;
	}
	form {
		width: 70%;
		input {
			padding: 5%;
			margin: 10px;
		}
		input[type='text'] {
			font-size: 1.25em;
		}
		.button {
			font-size: 1em;
			padding: 30px;
		}
	}
	ol {
		li {
			font-size: 2.5em;
		}
	}
	.definition {
		font-size: 1.25em;

		h1 {
			font-size: 2.25em;
			text-align: left;
		}
	}
}

@media only screen and (min-width: 769px) {
	h1.title {
		font-size: 3em;
	}
	p {
		font-size: 1.75em;
	}
	form {
		width: 80%;
		input {
			padding: 1%;
		}
		input[type='text'] {
			font-size: 1.5em;
		}
		.button {
			padding: 10px;
			font-size: 1.25em;
		}
	}
	ol {
		li {
			font-size: 2em;
		}
	}
	.definition {
		font-size: 1em;
		h1 {
			font-size: 2em;
		}
	}
}

@media only screen and (min-width: 1024px) {
	h1.title {
		margin-left: 20px;
		font-size: 3em;
	}
	p {
		margin-left: 20px;
		font-size: 2.1em;
	}
	form {
		width: 70%;
		input {
			padding: 3%;
		}
		input[type='text'] {
			font-size: 1.5em;
		}
		.button {
			padding: 5%;
			font-size: 1.4em;
		}
	}
	ol {
		li {
			font-size: 2em;
		}
	}
	.definition {
		font-size: 1em;
		h1 {
			margin: 20px;
			font-size: 2.2em;
		}
	}
}
