
$montserrat: 'Montserrat', sans-serif;
$playfair-display: 'Playfair Display', serif;

html {
	height: 100%;
	min-width: 320px;
	background-color: #ffffff;
}

.app {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

p {
	width: 70%;
	font-family: $montserrat;
	font-size: 1em;
	margin-top: 10px;
	color: black;
	padding: 10px;
}

.header {
	display: flex;
	box-shadow: 0px 5px 5px 0px rgba(92, 92, 92, 0.75);
	-webkit-box-shadow: 0px 5px 5px 0px rgba(92,92,92,0.75);
	-moz-box-shadow: 0px 5px 5px 0px rgba(92,92,92,0.75);
	width: 100%;
	height: 60px;
	justify-content: center;
	align-items: center;

	h1 {
		color: #2c1b82;
		font-family: $montserrat;
		font-weight: bold;
		font-size: 2rem;
	}

	a {
		text-decoration: none;
	}
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px;
	width: 100%;
	max-width: 700px;

	input {
		padding: 10px;
		border-radius: 50px;
		width: 75%;
		max-width: 700px;
		margin: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		
		&::placeholder {
			font-size: 1rem;
			font-weight: bold;
			text-align: center;
		}
	}

	.button {
		background: #2c1b82;
		padding: 10px;
		font-size: 1rem;
		font-weight: bold;
		color: white;
		border-radius: 50px;
		border-bottom: 2px solid gray;
		width: 75%;
	}
}

ol {
	list-style-type: none;
	color: black;
	li {
		font-family: $playfair-display;
		font-size: 1.5em;
		line-height: 175%;
		span {
			font-size: 0.7em;
			font-style: italic;
			color: rgb(51, 50, 50);
		}
	}
}

.definition {
	margin: 35px 15px 15px;
	font-family: $playfair-display;
	color: rgb(45, 50, 66);

	h1 {
		color: #2c1b82;
		font-size: 1rem;
		text-align: left;
	}
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
	h1.title {
		text-align: center;
		font-size: 2.75em;
	}
	p {
		margin-left: 15px;
		font-size: 1.9em;
	}
	form {
		width: 70%;
		input {
			padding: 10px;
			margin: 10px;
		}
		input[type='text'] {
			font-size: 1rem;
		}
		.button {
			font-size: 1rem;
			padding: 10px;
		}
	}
	ol {
		li {
			font-size: 2.5em;
		}
	}
	.definition {
		font-size: 1.25em;

		h1 {
			font-size: 2.25em;
			text-align: left;
		}
	}
}

@media only screen and (min-width: 769px) {
	h1.title {
		font-size: 3em;
	}
	p {
		font-size: 1.75em;
	}
	form {
		width: 80%;
		input {
			padding: 1%;
		}
		input[type='text'] {
			font-size: 1.5em;
		}
		.button {
			padding: 10px;
			font-size: 1.25em;
		}
	}
	ol {
		li {
			font-size: 2em;
		}
	}
	.definition {
		font-size: 1em;
		h1 {
			font-size: 2em;
		}
	}
}

@media only screen and (min-width: 1024px) {
	h1.title {
		margin-left: 20px;
		font-size: 3em;
	}
	p {
		margin-left: 20px;
		font-size: 2.1em;
	}

	ol {
		li {
			font-size: 2em;
		}
	}
	.definition {
		font-size: 1em;
		h1 {
			margin: 20px;
			font-size: 2.2em;
		}
	}
}
