// VARIABLES


$montserrat: 'Montserrat', sans-serif;
$playfair-display: 'Playfair Display', serif;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	font-family: $montserrat;
}

.app {
  background: url(./assets/pencils.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	height: 100vh;
	min-width: 32rem;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12.5rem 2.5rem 6.5rem 2.5rem;

	&__link {
		text-decoration: none;

		&-item {
			color: #3b0380;
			padding-right: 2.5rem;
			font-size: 4.5rem;
		}
	}
}
.main {
	display: flex;
	flex-direction: column;
	padding: 0 2.5rem;

	&__text {
		font-size: 2.2rem;
		line-height: 1.6;
		margin-bottom: 4.5rem;
	}
}
.form__container {
	display: flex;
	flex-direction: row;
	width: 90%;

	input {
		padding: 2rem 4rem;
		border: 2px solid gray;
		border-radius: 5rem;
		width: 75%;
	}
	input::placeholder {
		font-size: 1.8rem;
		text-align: left;
	}
	input[type='submit'] {
		cursor: pointer;
	}

	.button {
		// background: $violet-crayola;
		background: rgb(48, 32, 26);
		padding: 5px;
		font-size: 0.75em;
		font-weight: bold;
		color: white;
		border-radius: 5px;
	}
}
ol {
	list-style-type: none;
	li {
		font-family: $playfair-display;
		font-size: 1.5em;
		line-height: 175%;
		span {
			font-size: 0.7em;
			font-style: italic;
			color: rgb(51, 50, 50);
		}
	}
}

.definition {
	margin: 35px 15px 15px;
	font-family: $playfair-display;
	color: rgb(45, 50, 66);

	h1 {
		color: white;
		font-size: 1.5em;
		text-align: left;
	}
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
	h1.title {
		text-align: center;
		font-size: 2.75em;
	}

	form {
		width: 70%;
		input {
			padding: 5%;
			margin: 10px;
		}
		input[type='text'] {
			font-size: 1.25em;
		}
		.button {
			font-size: 1em;
			padding: 30px;
		}
	}
	ol {
		li {
			font-size: 2.5em;
		}
	}
	.definition {
		font-size: 1.25em;

		h1 {
			font-size: 2.25em;
			text-align: left;
		}
	}
}

@media only screen and (min-width: 769px) {
	h1.title {
		font-size: 3em;
	}
	p {
		font-size: 1.75em;
	}
	form {
		width: 80%;
		input {
			padding: 1%;
		}
		input[type='text'] {
			font-size: 1.5em;
		}
		.button {
			padding: 10px;
			font-size: 1.25em;
		}
	}
	ol {
		li {
			font-size: 2em;
		}
	}
	.definition {
		font-size: 1em;
		h1 {
			font-size: 2em;
		}
	}
}

@media only screen and (min-width: 1024px) {
	h1.title {
		margin-left: 20px;
		font-size: 3em;
	}
	p {
		margin-left: 20px;
		font-size: 2.1em;
	}
	form {
		width: 70%;
		input {
			padding: 3%;
		}
		input[type='text'] {
			font-size: 1.5em;
		}
		.button {
			padding: 5%;
			font-size: 1.4em;
		}
	}
	ol {
		li {
			font-size: 2em;
		}
	}
	.definition {
		font-size: 1em;
		h1 {
			margin: 20px;
			font-size: 2.2em;
		}
	}
}
